<h1>Password recovery request</h1>
<p>
  Hello, it seems someone requested a password recovery
  for your account registered with the email {{ email }}.
</p>

<p>
  If it was you, just click this
<a href="http://127.0.0.1:3333/forgotPassword/{{token}}/{{email}}">link</a>
</p>

<p>
  If it wasn't you then we recommend you to change your password. Someone may
  have stolen it. 🕵️‍🕵️‍🕵️‍🕵️‍🕵️‍🕵️‍🕵️
</p>
